[Unit]
#Install also: apt update && apt install libasan8  libfmt10

Description=Mind Net (C++ REST backend)
After=network.target

[Service]
Type=simple
User={USER}
Group={USER}
WorkingDirectory={WORKING DIRECTORY}
#
ExecStart={PATH}/hive start --port 9000 --frontend-port 443 --host {HOST} -s {PATH TO frontend}
Restart=on-failure
RestartSec=5s
#
Environment=USER={USER} HOME={HOME}
#
StandardOutput=append:/var/log/hive.log
StandardError=append:/var/log/hive.err

# kill settings - graceful shutdown
KillSignal=SIGINT
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
